@import "../core//variables.scss";
@import "../core/_reset.scss";

.container {
  height: 18.5em;
  padding: 0.5em;
  width: 20.5em;
}
.user {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 5px 5px 10px $color-icon;
  border: 3px solid $color-detail;
  width: 19em;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    grid-row: 3/4;
    border-radius: 25px;
    margin: auto;
    height: 7em;
    width: 7em;
    margin-top: 0.5em;
  }

  &__name {
    grid-row: 1/2;
    margin: 20px 25px 0 25px;
    color: $color-icon;
    padding: 3px 0 5px 0;
    font-size: 1.25rem;
  }

  &__info {
    grid-row: 4/5;
    margin: 15px 15px;
    color: $color-icon;
    text-transform: capitalize;
  }

  &__button {
    width: 10em;
    border-radius: 1em;
    margin-bottom: 0.6em;
    background-color: $color-secundary;
    color: $color-background;
    &:hover {
      background-color: $color-hover;
      color: $color-detail;
    }
  }
}
