@import "./core/_reset.scss";
@import "./core/_mixing.scss";
@import "./core/_variables.scss";

.react-datepicker__current-month {
  color: $color-background;
}

.react-datepicker__header {
  background-color: $color-icon;
  border-bottom: 1px solid $color-background;
}

.react-datepicker-time__header {
  color: $color-background;
}

.react-datepicker {
  color: $color-icon;
}

.react-datepicker__day {
  color: $color-icon;
}

.react-datepicker__day-name {
  color: $color-background;
}

.react-datepicker-ignore-onclickoutside {
  background-color: $color-input;
  color: $color-icon;
  width: 35em;
  height: 3em;
  padding-left: 1em;
  border-radius: 10%;
}
