@import "../core/_variables.scss";
@import "../core/mixing.scss";
@import "../core/_reset.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablet {
    flex-direction: row;
  }

  &__label {
    color: $color-icon;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    @include tablet {
      font-size: 1.5em;
    }
  }

  &__input {
    width: 250px;
    height: 40px;
    color: $color-secundary;
    border: 1px solid $color-icon;
    border-radius: 6px;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0.5em;

    @include tablet {
      margin-left: 0.4em;
    }
    @include desktop {
      margin-left: 2em;
    }
  }

  &__inputCity {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 0.9em;
    color: $color-secundary;
  }

  @include tablet {
    margin-right: 20px;
  }
}
