// fonts
$font-main: "Open Sans", sans-serif;

// colors
$color-icon: #137191;
$color-background: #fffeff;
$color-mail: #0f0e0e;
$color-secudary: grey;
$color-input: #eeeeee;
$color-hover: #01a8c5;
