// fonts
$font-main: "Open Sans", sans-serif;

// colors
$color-icon: #37677b;
$color-hover: #10a1be;
$color-background: #ffffff;
$color-secudary: #8facb0;
$color-input: #eeeeee;
$color-mail: #0f0e0e;
