// fonts
$font-main: "Open Sans", sans-serif;

// colors
$color-icon: #a45e60;
$color-hover: #f8e03e;
$color-background: #e7d2b7;
$color-secudary: #cd8b34;
$color-input: #eeeeee;
$color-detail: #541f0f;
